<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="recharge"/>

	<dubbo:registry address="${dubbo.registry.address}"/>

	<dubbo:protocol name="dubbo" default="true" port="${dubbo.export.port}"></dubbo:protocol>

	<!--订单部分dubbo接口-->
	<dubbo:reference interface="com.recharge.center.IOrderExportService" id="iOrderExportService" check="false"/>
</beans>